<footer class="footer d-flex justify-content-center">
    <p>&copy 2024 - Linda Götenmark för kurs dt191g - Mittuniversitetet Sundsvall</p>

</footer>


<style>
    .footer {
        background: linear-gradient(to right, #000850, purple);
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
</style>