@using Blazored.LocalStorage
@inject ILocalStorageService localStorage
@using ClientApp.Services
@inject CartService CartService

<header class="header">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <a class="d-flex align-items-center type w-100" href="/">
            <img src="/heart_100px.png" alt="logotyp" class="logo">
            <span style="text-decoration:none; color: white; margin-left: 10px; font-size: 1.35rem;">Barnens hörna</span>
        </a>

        <!--navigation larger screens-->
        <div class="navbar navbar-dark w-100 d-none d-md-flex justify-content-end">

            <nav class="navbar-nav flex-row">
                <div class="d-flex bruh">
                    <a class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hem
                    </a>
                    <a class="nav-link" href="contact">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Kontakt
                    </a>
                    <a class="nav-link" href="about">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Om oss
                    </a>
                </div>
                <div class="ml-auto">
                    <!-- Kundvagnsikon -->
                    <a href="/checkout" class="btn btn-outline-light position-relative">
                        <i class="fas fa-shopping-cart"></i> Kundvagn
                        <span
                            class="badge badge-pill badge-danger position-absolute top-0 start-100 translate-middle bg-danger"
                            id="cart-count"> @CartService.GetCartCount()</span>
                    </a>
                </div>
            </nav>
        </div>

        <!-- hamburgermenu -->
        <div>
            <div class="navbar navbar-dark w-100 d-md-none justify-content-end">
                <button title="Navigation menu" class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="navbar-collapse mobile-menu @(collapseNavMenu ? "show" : "collapse") d-md-none">
                <nav class="navbar-nav flex-column">
                    <a class="nav-link" href="" Match="NavLinkMatch.All">Hem</a>
                    <a class="nav-link" href="contact">Kontakt</a>
                    <a class="nav-link" href="about">Om oss</a>
                    <div class="ml-auto">
                        <a href="/checkout" class="btn btn-outline-light position-relative">
                            <i class="fas fa-shopping-cart"></i> Kundvagn
                            <span
                                class="badge badge-pill badge-danger position-absolute top-0 start-100 translate-middle bg-danger"
                                id="cart-count"> @CartService.GetCartCount()</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>

    </div>
</header>

<style>
    .header {
        background: linear-gradient(to right, #000850, purple);
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .bruh {
        margin-right: 40px;
    }
    .logo {
        width: 50px;
    }
    .navbar-brand {
        color: white;
        font-size: 1.5rem;
    }

    .nav-link {
        color: white;
        margin-left: 1rem;
    }

    .nav-link:hover {
        color: #ddd;
        text-decoration: none;
    }
    .mobile-menu {
        position: absolute;
        top: 5rem; 
        left: 0;
        right: 0;
        background: linear-gradient(to left, purple, #000850); 
        z-index: 999;
        padding: 10px;
    }
    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

@code {
    private bool collapseNavMenu = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}
