@inherits LayoutComponentBase

<div class="page">

    
    
    <!--<header class="header">
        <NavMenu />
    </header>-->
    
    <main>
        <HeaderComponent />
        <article class="content px-4">
            @Body
        </article>
        <FooterComponent />
    </main>

    
</div>
