@page "/about"
@inject HttpClient Http

<PageTitle>Om oss</PageTitle>

<h1 class="mt-5 mb-4 text-center">Om oss</h1>

<div class="d-flex flex-column align-items-center mb-5 px-3">
    <p class="text-center w-100" style="max-width: 600px;">Barnens hörna är en bytesmarknad där du kan köpa begagnade produkter för barn. Exempelvis kläder, leksaker och
        skor med mera.</p>

    <p class="text-center w-100" style="max-width: 600px;">Vi som driver bytesmarknaden gör det på en ideell basis och vinner inget på det förutom att vi hjälper
        klimatet och miljön genom att hitta nya användare till produkterna vi säljer.</p>
</div>