@page "/contact"

<PageTitle>Kontakt</PageTitle>

<h1 class="mt-5 mb-4 text-center" style="margin-top: 20%;">Kontakt</h1>
<div class="d-flex flex-column align-items-center mb-5">
    <div class="card w-25 p-4 text-center mb-5" style="box-shadow: 1px 3px 5px gray;">
        <h2 style="font-size: 1.5rem;">Bytesmarknaden Barnens hörna</h2>
        <p>Adress:</p>
        <p>Varvägen 75</p>
        <p>421 48 Finnshär</p>
    </div>

    <div class="card w-25 p-4 text-center" style="box-shadow: 1px 3px 5px gray;">
        <h2 class="" style="font-size: 1.5rem;">Huvudansvarig:</h2>
        <h3 style="font-size: 1.35rem;">Linda Götenmark</h3>
        <p>Telefonnummer:</p>
        <p>070-777 77 77</p>
    </div>
</div>